.invoice{
    padding: 20px;
    width: 100%;
}

.invoice-card{
    border-radius: 15px !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #FFFFFF !important;
    padding: 30px;
    position: relative;
    width: 100%;
}

.invoice-card .back{
    float: right;
}

.invoice-card .link{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #00ACED;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    float: right;
    top: 5px;
    right: 20px;
    padding-bottom: 20px;
    margin-left: 5px;
}

.table{
    border: none;
    width: 100%;
}

.invoice-card .tabledata{
    font-family: 'varela', sans-serif !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.invoice-card .table-data .table-img{
    width: 45px !important;
    height: 45px !important;
    border-radius: 50px;
}

.addinvoice{
    
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 20px;
    padding: 50px;
    z-index: 9999;
}

.addinvoice .addcontainer{
    padding: 0 2rem !important;
}

.add-invoice-card{
    width: 80%;
    background-color: #EAEDFF;
    margin: auto auto;
    border: none !important;
    border-radius: 1rem !important;
}

.add-title{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 15px 15px;
}

.add-title h4{
    font-family: 'varela',sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.add-title .btn{
    float: right;
    position: absolute;
    right: 0px;
    bottom: 15px;
    color: #6A29E5;
}

.add-body{
    display: flex;
    flex-direction: column;
}

.add-form{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.add-form .fg{
    width: 50%;
    padding: 15px;
}

.add-form .fg .label,
.add-form .fgtextarea .level{
    font-size: 15px;
    font-weight: 400;
    font-family: 'verela', sans-serif;
}

.add-form .fg input,
.add-form .fg select{
    width: 100%;
    border: 1px solid #CED4DA;
    height: 2.2rem;
    padding: 0 10px;
    border-radius: 5px;
}
.add-form .item {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 15px;
}

.add-form .item input{
    width: 100%;
    border: 1px solid #CED4DA;
    padding: 0 10px;
    border-radius: 5px;
}

.add-form .fgfile{
    width: 100%;
    padding: 15px;
}

.add-form .fgfile svg{
    background-color: #EAEDFF;
    font-size: 3rem;
    padding: 10px;
    border-radius: 3rem;
}

.add-form .fgtextarea{
    width: 100%;
    padding: 15px;
}

.add-form .fgtextarea textarea{
    width: 100%;
    border: 1px solid #CED4DA;
    padding: 0 10px;
    border-radius: 5px;
}

.btng{
    display: flex;
    gap: 1rem;
    padding: 15px 25px;
    margin-bottom: 2rem;
}

.btng button{
    border-radius: 1rem;
    padding: 5px 18px;
    border: none;
    background-color: #6A29E5;
    color: #fff;
    font-size: 14px;
    font-family: 'varela', sans-serif;
    font-weight: 400;
}

.btng button:last-child{
    background-color: #00ACED;
}